.botao {
    background-color: #1C2840;
    color: #f7f7f7 !important;
}

.botao:focus {
    background-color: #1c2840e9;
}

.botao:hover {
    opacity: 80%;
}

.form_control, .form_control_senha{
    margin-bottom: 5px;
}

.form_control_senha{
    width: 100%;
}

.text_area{
    resize: none;
    height: 250px !important;
}

.icone_botao{
    color: #f7f7f7;
}

.input_gradiente {
    background-color: #2477BF;
}

.descricao_botao{
    margin-right: 10px;
    color: #f7f7f7;
}

.spinner{
    color: #f7f7f7;
}

.btn_mostrar_senha{
    width: 50px;
    background-color: #f0f0f0;
    border: solid 1px #dee2e6;
    border-radius: 0px 7px 7px 0px;
    border-left: none;
    height: 58px;
}

.div_senha{
    display: flex;
}

.input_senha{
    border-radius: 5px 0px 0px 5px;
}

/* tamanho coluna componente 1 */

.tamanho_coluna_1_1{
    grid-column: 1 / span 1;
}

.tamanho_coluna_1_2{
    grid-column: 1 / span 2;
}

.tamanho_coluna_1_3{
    grid-column: 1 / span 3;
}

.tamanho_coluna_1_4{
    grid-column: 1 / span 4;
}

/* tamanho coluna componente 2 */

.tamanho_coluna_2_1{
    grid-column: 2 / span 1;
}

.tamanho_coluna_2_2{
    grid-column: 2 / span 2;
}

.tamanho_coluna_2_3{
    grid-column: 2 / span 3;
}

.tamanho_coluna_2_4{
    grid-column: 2 / span 4;
}

/* tamanho coluna componente 3 */

.tamanho_coluna_3_1{
    grid-column: 3 / span 1;
}

.tamanho_coluna_3_2{
    grid-column: 3 / span 2;
}

.tamanho_coluna_3_3{
    grid-column: 3 / span 3;
}

.tamanho_coluna_3_4{
    grid-column: 3 / span 4;
}

/* tamanho coluna componente 4 */

.tamanho_coluna_4_1{
    grid-column: 4 / span 1;
}

.tamanho_coluna_4_2{
    grid-column: 4 / span 2;
}

.tamanho_coluna_4_3{
    grid-column: 4 / span 3;
}

.tamanho_coluna_4_4{
    grid-column: 4 / span 4;
}

.cinza{
    background-color: #7d7d7d;
}

.vermelho {
    background-color: #c72222;
}