.tabela {
    /* background-color: transparent !important; */
    /* margin-top: 20px; */
    margin: auto;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

/* .div_home{
    margin-top: 40px;
    display: flex;
} */

h2 {
    margin: 20px;
}

.div_home{
 width: 100%;
 padding: 20px;
 /* height: 100%;
 border: 2px solid red; */
}

.botao_excluir{
    background-color: red;
}