.div_home{
 width: 100%;
 padding: 20px;
}

.tabela {
  margin: auto;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

.input_color{
  width: 35px;
  height: 20px;
  border: none
}